<a href="https://colab.research.google.com/github/21Alul21/HouzStackApi_PortfollioProject/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import seaborn as sns
#import catboost as cb
import xgboost as xgb
import joblib

In [3]:
#!pip install numpy
#!pip install catboost

In [4]:
#!pip list

In [6]:
# loading dataset
df = pd.read_csv('/content/nigeria-rent.csv')

## Exploratory Data Analysis (EDA)

In [7]:
# brief description of the dataset
df.describe()

           Serviced   Newly Built     Furnished
count  98080.000000  98080.000000  98080.000000
mean       0.164712      0.299276      0.121166
std        0.370923      0.457943      0.326322
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        0.000000      1.000000      0.000000
max        1.000000      1.000000      1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98080 entries, 0 to 98079
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        98079 non-null  object
 1   More Info    98080 non-null  object
 2   Location     98080 non-null  object
 3   Price        98080 non-null  object
 4   Serviced     98080 non-null  int64
 5   Newly Built  98080 non-null  int64
 6   Furnished    98080 non-null  int64
 7   Bedrooms     98080 non-null  object
 8   Bathrooms    98080 non-null  object
 9   Toilets      98080 non-null  object
dtypes: int64(3), object(7)
memory usage: 7.5+ MB

In [9]:
# checking for missing values in the dataset
df.isna().sum()

Title          1
More Info      0
Location       0
Price          0
Serviced       0
Newly Built    0
Furnished      0
Bedrooms       0
Bathrooms      0
Toilets        0
dtype: int64

In [10]:
df

,Title,More Info,Location,Price,Serviced,Newly Built,Furnished,Bedrooms,Bathrooms,Toilets
0,Newly Built 4 Bedroom Semi Detached House With Bq,4 BEDROOM HOUSE FOR RENT,"White Oak Estate, Ologolo Opp. Agungi, Ologolo...","5,000,000/year",0,1,0,4 beds,4 baths,5 Toilets
1,Superb 4 Bedroom Semi Detached Duplex With Bq,4 BEDROOM HOUSE FOR RENT,"Hrc Estate Beside Vgc Estate, Vgc Lekki Lagos","5,000,000/year",0,1,0,4 beds,4 baths,5 Toilets
2,Furnished 2 Bedroom Terrace Duplex For Rent !!!,2 BEDROOM HOUSE FOR RENT,Osapa London Lekki Lagos,"3,500,000",1,0,0,2 beds,3 baths,3 Toilets
3,2 Bedroom Apartment For Rent,2 BEDROOM HOUSE FOR RENT,Ologolo Lekki Lagos,"2,700,000",1,1,0,2 beds,3 baths,3 Toilets
4,?? Brand New 2 Bedroom Flat For Rent!!! (groun...,2 BEDROOM HOUSE FOR RENT,Mojisola Onikoyi Ikoyi Lagos,"5,000,000",1,1,0,2 beds,3 baths,3 Toilets
...,...,...,...,...,...,...,...,...,...,...
98075,4 Bedroom Duplex In Serene Neighborhood,4 BEDROOM HOUSE FOR RENT,Akala Akobo Ibadan Oyo,"900,000",0,0,0,4 beds,4 baths,4 Toilets
98076,Lovely Built 3 Bedroom Flats Self Compound,3 BEDROOM SELF CONTAIN FOR RENT,Oluwaga Road. Baruwa Ipaja Lagos,"500,000",0,1,1,3 beds,4 baths,4 Toilets
98077,Executive 2 Bedroom Flat,2 BEDROOM BLOCKS OF FLATS FOR RENT,By Sterling Bank Magboro Obafemi Owode Ogun,"330,000",0,0,1,2 beds,3 baths,3 Toilets
98078,Executive Brand New 2 Bedroom Flat All Rooms E...,2 BEDROOM BLOCKS OF FLATS FOR RENT,Arepo Arepo Arepo Ogun,"400,000",0,1,1,2 beds,3 baths,3 Toilets
98079,3 Bedroom Flat All Ensuit,3 BEDROOM BLOCKS OF FLATS FOR RENT,"3bedroom Flat At Jeje Area, Apete.all Rooms En...","150,000",0,0,0,3 beds,3 baths,3 Toilets

In [11]:
df.tail()

,Title,More Info,Location,Price,Serviced,Newly Built,Furnished,Bedrooms,Bathrooms,Toilets
98075,4 Bedroom Duplex In Serene Neighborhood,4 BEDROOM HOUSE FOR RENT,Akala Akobo Ibadan Oyo,"900,000",0,0,0,4 beds,4 baths,4 Toilets
98076,Lovely Built 3 Bedroom Flats Self Compound,3 BEDROOM SELF CONTAIN FOR RENT,Oluwaga Road. Baruwa Ipaja Lagos,"500,000",0,1,1,3 beds,4 baths,4 Toilets
98077,Executive 2 Bedroom Flat,2 BEDROOM BLOCKS OF FLATS FOR RENT,By Sterling Bank Magboro Obafemi Owode Ogun,"330,000",0,0,1,2 beds,3 baths,3 Toilets
98078,Executive Brand New 2 Bedroom Flat All Rooms E...,2 BEDROOM BLOCKS OF FLATS FOR RENT,Arepo Arepo Arepo Ogun,"400,000",0,1,1,2 beds,3 baths,3 Toilets
98079,3 Bedroom Flat All Ensuit,3 BEDROOM BLOCKS OF FLATS FOR RENT,"3bedroom Flat At Jeje Area, Apete.all Rooms En...","150,000",0,0,0,3 beds,3 baths,3 Toilets

In [12]:
df.Title.unique()

array(['Newly Built 4 Bedroom Semi Detached House With Bq',
       'Superb 4 Bedroom Semi Detached Duplex With Bq',
       'Furnished 2 Bedroom Terrace Duplex For Rent !!!', ...,
       '4 Bedroom Duplex In Serene Neighborhood',
       'Lovely Built 3 Bedroom Flats Self Compound',
       '3 Bedroom Flat All Ensuit'], dtype=object)

In [13]:
len(df.Title.unique())

38345

In [14]:
df.Location.unique()

array(['White Oak Estate, Ologolo Opp. Agungi, Ologolo Lekki Lagos',
       'Hrc Estate Beside Vgc Estate, Vgc Lekki Lagos',
       'Osapa London Lekki Lagos', ...,
       'Oluwaga Road. Baruwa Ipaja Lagos',
       'By Sterling Bank Magboro Obafemi Owode Ogun',
       '3bedroom Flat At Jeje Area, Apete.all Rooms Ensuit,tiles With Running Water. Rent 150k, Caution 10k, Agreement 10k, Agency & Legal 30k. Tp 210 Eleyele Ibadan Oyo'],
      dtype=object)

In [15]:
df.head()

,Title,More Info,Location,Price,Serviced,Newly Built,Furnished,Bedrooms,Bathrooms,Toilets
0,Newly Built 4 Bedroom Semi Detached House With Bq,4 BEDROOM HOUSE FOR RENT,"White Oak Estate, Ologolo Opp. Agungi, Ologolo...","5,000,000/year",0,1,0,4 beds,4 baths,5 Toilets
1,Superb 4 Bedroom Semi Detached Duplex With Bq,4 BEDROOM HOUSE FOR RENT,"Hrc Estate Beside Vgc Estate, Vgc Lekki Lagos","5,000,000/year",0,1,0,4 beds,4 baths,5 Toilets
2,Furnished 2 Bedroom Terrace Duplex For Rent !!!,2 BEDROOM HOUSE FOR RENT,Osapa London Lekki Lagos,"3,500,000",1,0,0,2 beds,3 baths,3 Toilets
3,2 Bedroom Apartment For Rent,2 BEDROOM HOUSE FOR RENT,Ologolo Lekki Lagos,"2,700,000",1,1,0,2 beds,3 baths,3 Toilets
4,?? Brand New 2 Bedroom Flat For Rent!!! (groun...,2 BEDROOM HOUSE FOR RENT,Mojisola Onikoyi Ikoyi Lagos,"5,000,000",1,1,0,2 beds,3 baths,3 Toilets

In [16]:
df.dropna(inplace=True)

In [17]:
df.isna().sum()

Title          0
More Info      0
Location       0
Price          0
Serviced       0
Newly Built    0
Furnished      0
Bedrooms       0
Bathrooms      0
Toilets        0
dtype: int64

In [18]:
df.duplicated().sum()

4122

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
df.duplicated().sum()

0

In [21]:
df.drop(['Title', 'More Info', 'Location'], inplace=True, axis=1)

In [22]:
df

,Price,Serviced,Newly Built,Furnished,Bedrooms,Bathrooms,Toilets
0,"5,000,000/year",0,1,0,4 beds,4 baths,5 Toilets
1,"5,000,000/year",0,1,0,4 beds,4 baths,5 Toilets
2,"3,500,000",1,0,0,2 beds,3 baths,3 Toilets
3,"2,700,000",1,1,0,2 beds,3 baths,3 Toilets
4,"5,000,000",1,1,0,2 beds,3 baths,3 Toilets
...,...,...,...,...,...,...,...
98075,"900,000",0,0,0,4 beds,4 baths,4 Toilets
98076,"500,000",0,1,1,3 beds,4 baths,4 Toilets
98077,"330,000",0,0,1,2 beds,3 baths,3 Toilets
98078,"400,000",0,1,1,2 beds,3 baths,3 Toilets
98079,"150,000",0,0,0,3 beds,3 baths,3 Toilets

In [23]:
# removing strings

df['Bedrooms'] = df.Bedrooms.apply(lambda x: x.split()[0])
df['Bathrooms'] = df.Bathrooms.apply(lambda x: x.split()[0])
df['Toilets'] = df.Bedrooms.apply(lambda x: x.split()[0])
df['Price'] = df.Price.apply(lambda x: x.split('/')[0])

In [24]:
df

           Price  Serviced  Newly Built  Furnished Bedrooms Bathrooms Toilets
0      5,000,000         0            1          0        4         4       4
1      5,000,000         0            1          0        4         4       4
2      3,500,000         1            0          0        2         3       2
3      2,700,000         1            1          0        2         3       2
4      5,000,000         1            1          0        2         3       2
...          ...       ...          ...        ...      ...       ...     ...
98075    900,000         0            0          0        4         4       4
98076    500,000         0            1          1        3         4       3
98077    330,000         0            0          1        2         3       2
98078    400,000         0            1          1        2         3       2
98079    150,000         0            0          0        3         3       3

[93957 rows x 7 columns]

In [25]:
df.Price.unique()

array(['5,000,000', '3,500,000', '2,700,000', '4,000,000', '6,500,000',
       '45,000,000', '15,000,000', '2,500,000', '8,000,000', '6,000,000',
       '10,000,000', '12,000,000', '1,400,000', '3,000,000', '1,500,000',
       '1,100,000', '16,000,000', '7,000,000', '5,500,000', '17,000,000',
       '58,000,000', '8,500,000', '13,000,000', '20,000,000', '9,000,000',
       '4,500,000', '3,200,000', '800,000', '2,300,000', '1,200,000',
       '1,000,000', '14,000,000', '18,000,000', '24,000,000',
       '25,000,000', '600,000', '2,200,000', '19,000,000', '7,500,000',
       '28,000,000', '35,000,000', '750', '150,000', '1,300,000',
       '1,700,000', '40,000', '500,000', '9,500,000', '100,000',
       '40,000,000', '16,600,000', '110,000', '900,000', '30,000,000',
       '550,000,000', '45,000', '11,000,000', '400,000', '19,500,000',
       '2,000,000', '16,500,000', '17,300,000', '650', '80,000',
       '13,500,000', '10,800,000', '5,200,000', '3,300,000', '10,500,000',
       '78,000,000', '50,000,000', '3,800,000', '4,200,000', '1,800,000',
       '350,000', '700,000', '1,600,000', '250,000', '750,000', '800,009',
       '2,800,000', '550,000', '2,600,000', '450,000', '500,000,000',
       '130,000,000', '300,000', '66,000', '180,000', '190,000',
       '230,000', '2,700,000,000', '200,000', '1,500,000,000', '850,000',
       '130,000', '65,000', '115,000', '280,000,000', '1,750,000',
       '4,250,000', '170,000', '125,000,000', '180,000,000', '715',
       '50,000', '185,000', '18,500,000', '1,650,000', '380,000',
       '280,000', '650,000', '2,100,000', '23,000,000', '25,000',
       '1,250,000', '240,000', '5,300,000', '1,900,000', '90,000,000',
       '140,000', '95,000,000', '85,000,000', '95,000', '220,000',
       '420,000', '1,550,000', '10,080,000', '7,000', '14,500,000',
       '12,500,000', '26,000,000', '120,000', '186,000', '335,000',
       '11,500,000', '2,400,000', '1,000,000,000', '12,000', '3,700,000',
       '22,000,000', '480,000', '250,000,000', '170,000,000', '20,000',
       '3,900,000', '470,000', '120,000,000', '13,800,000', '136,000',
       '270,000', '4,700,000', '60,000', '3,600,000', '950,000',
       '5,800,000', '35,000', '360,000', '70,000', '5,425,000', '534,000',
       '65,000,000', '41,000,000', '14,350,000', '75,000,000', '1,400',
       '30,000', '4,300,000', '8,300,000', '160,000,000', '6,200,000',
       '2,900,000', '3,400,000', '106,000,000', '4,800,000', '430,000',
       '21,000,000', '420,000,000', '60,000,000', '80,000,000',
       '64,500,000', '100,000,000', '90,000', '12,500,000,000',
       '14,250,000', '17,500,000', '94,000,000', '750,000,000',
       '7,100,000', '36,000,000', '16,100,000', '55,000,000',
       '13,100,000', '16,900,000', '99,500', '300,000,000', '17,200,000',
       '600', '85,000', '900,000,000', '2,000,000,000', '6,500',
       '3,326,000', '150,000,000', '28,000', '5,250,000', '1,300,000,000',
       '1,900,000,000', '3,603,000', '330,000', '68,000,000', '2,670,000',
       '4,600,000', '2,950,000', '1,380,000', '950,000,000', '1,700',
       '570,000', '43,000,000', '10,000', '65', '800', '52,000', '500',
       '450,000,000', '15,000', '18,000', '770,000,000', '95,200,000',
       '7,600,000', '135,000', '28,700,000', '320,000', '332,000',
       '88,000,000', '30,100,000', '1,050,000', '55,000', '22,000',
       '129,480,000', '75,000', '48,000,000', '1,560,000', '49,400,000',
       '685', '155,000,000', '1,500', '192,000', '47,500,000', '98,000',
       '42,000,000', '70,000,000', '7,200,000', '101,250,000',
       '285,000,000', '370,000', '720,000', '325,000,000,000', '2,000',
       '1,900', '1,800', '39,200,000', '33,000,000', '5,600,000',
       '1,260,000', '9,600,000', '780,000', '5,395,000', '10,700,000',
       '4,440,000', '260,000', '16,000', '160,000', '3,000',
       '1,200,000,000', '1,200,000,000,000', '138,000', '3,100,000',
       '3,500,000,000', '2', '4', '49,990,000', '3,000,900', '400',
       '12,340,000', '26,325,000', '12,400,000', '265,000', '6,000',
       '144,000', '140,000,000', '16,200,000', '1,450,000', '15,500,000',
       '4,032,000', '2,070,000', '3,492,000', '1,350,000', '400,000,000',
       '6,800,000', '1,080,000', '200,000,000', '7,540,000', '367,000',
       '840,000', '2,175,000', '1,275,000', '12,500', '13,930,000',
       '960,000', '22,500', '4,000', '5,000', '2,250,000', '4,400,000',
       '33,000', '165,000', '1,312,000', '1,800,009', '1,400,009',
       '3,800', '175,000', '210,000', '1,930,000', '350', '8,600,000',
       '1,150,000', '324,000', '8,000', '7,615,000', '1,850,000',
       '2,500,000,000', '195,000,000', '300', '200,009', '220,000,000',
       '2,500', '1,700,000,000,000', '84,000', '17,600,000',
       '700,000,000', '22,900,000', '29,500,000', '4,925,000',
       '1,950,000', '12,600,000', '18,750,000', '638,000,000', '875,500',
       '513,500', '32,000,000', '52,000,000', '7,000,000,000',
       '6,500,000,000', '902,000', '44,800,000', '71,000,000', '980,000',
       '6,400,000', '340,000', '32,500,000', '16,176,000', '3,326,400',
       '600,000,000', '31,000,000', '18,900,000', '5,000,000,000',
       '2,040,000', '1,375,000', '4,225,000', '12,000,000,000',
       '108,000,000', '16,800,000', '2,200', '6,930,000', '8,760,000',
       '2,750,000', '205,000,000', '190,000,000', '365,000', '1',
       '12,100,000', '13,975,000', '2,150,000', '4,900,000', '8,240,000',
       '8,700,000', '14,160,000', '32,000', '450', '3,112,200',
       '2,872,800', '57,500', '14,480,000', '8,500', '6,600,000',
       '19,550,000', '22,950,000', '68,000', '15,400,000', '47,000',
       '34,000,000', '116,666', '6,333,000', '78,000', '48,000', '96,000',
       '165,000,000', '1,600', '14,000', '3,220,000', '4,500',
       '21,500,000', '4,950,000', '21,000', '23,000', '113,000',
       '64,000,000', '360,000,000', '700', '177', '1,750', '8,800,000',
       '3,500,009', '880,000', '3,850,000', '4,290,000', '1,512',
       '132,000,000', '25,840,000', '2,727,000', '6,100,000', '151,900',
       '3,500', '645,000', '23,024,000', '0', '5,700,000', '550', '833',
       '1,224,000', '1,300,009', '1,160,000', '350,000,000', '10,600,000',
       '13,200,000', '888,888', '2,650,000', '27,000,000', '54,000',
       '4,500,000,000', '9,250,000', '145,000,000', '17,000',
       '47,000,000', '460,000', '1,430,000', '8,400,000', '560,000,000',
       '4,100,000', '2,625,000', '5,100,000', '530,000', '680,000',
       '261,000', '9,000', '7,700,000', '580,000', '375,000', '890,000',
       '540,000', '110,000,000', '755,000', '2,430,000', '495,000',
       '722,000', '38,000,000', '2,550,000', '1,100', '60,500',
       '6,300,000', '6,700,000', '225,000', '325,000', '29,000,000',
       '53,000,000', '11,200,000', '39,000,000', '1,700,000,000',
       '105,000,000', '1,600,000,000', '1,400,000,000', '620,000',
       '930,000', '842,000', '3,000,000,000', '8,000,000,000', '750,008',
       '970,000', '380,000,000', '1,920,000', '650,000,000',
       '8,500,000,000', '46,800,000', '1,760,000', '430', '850,000,000',
       '2,100,009', '20,300,000', '320,000,000', '185,000,000',
       '6,000,099', '390,000', '3,309,876', '6,825,000', '8,250,000',
       '3,675,000', '82,000,000', '15,000,009', '5,500,000,000',
       '1,000,100', '1,300', '41,250', '10,001,000', '2,140,000',
       '12,000,009', '1,928,000', '6,000,090', '550,009', '1,085,000',
       '208,000', '380', '344,444,444', '8,900,000', '2,020,000',
       '1,020,000', '1,000', '860,000', '930', '1,170,000', '2,180,000',
       '400,009', '5', '250', '790,000', '625,000', '650,009',
       '1,200,009', '4,850,000', '2,000,030', '20,000,030',
       '1,100,000,000', '220', '1,800,000,000', '1,620,000', '630,000',
       '2,700', '1,725,000', '580,000,000', '950', '275,000', '670,000',
       '410,000', '200', '5,000,009', '520,000', '46,000,000',
       '230,000,000', '250,009', '3,250,000', '4,350,000', '730,000',
       '72,000', '105,000', '2,050,000', '800,000,000', '2,340,000',
       '156,000', '38,000', '318,000', '42,500', '1,001,000', '440,000',
       '122,000,000', '1,200', '940,000', '3,499,998', '29,950', '43,336',
       '2,450,000', '21,600', '555,000', '18,990,000', '910,000',
       '82,000', '7,000,009', '5,400,000', '5,900,000', '10,440,000',
       '31,344,300', '2,600,000,000', '56,000,000', '3,300,000,000',
       '900', '36,000', '72,000,000', '25,870,000', '25,000,000,000',
       '1,305,000', '77,000,000', '500,009', '39,500,000',
       '2,200,000,000', '20,000,000,000', '4,000,000,000', '525,000',
       '760,000', '1,935,000', '240,000,000', '1,415,000', '735,000',
       '290,000', '425,000', '474,000', '55', '215,000', '336,000',
       '2,160,000', '3', '1,500,050,000', '2,800,000,000',
       '2,500,050,000', '6,500,050,000', '605,000', '355,000', '783,500',
       '192,000,000', '1,025,000', '100,800', '24,999,999', '153,000',
       '580', '114,000,000', '28,500,000', '640,000', '27,500,000',
       '560,000', '4,512,000', '49,900', '200,020,000', '38,500,000',
       '67,000', '22,500,000', '316,000', '11,092,500', '86,000,000',
       '75,009', '5,625,000', '3,450,000', '14,800,000', '1,220,000',
       '21,600,000', '3,750,000', '2,120,000', '2,440,000', '1,000,099',
       '820,000', '297,000', '62,000', '1,140,000', '989,000',
       '63,000,000', '600,009', '9,585,000', '3,510,750', '398,000',
       '245,000', '1,540,000', '13,000', '16,850,618,000', '300,009',
       '490,000', '6,900,000', '5,750,000', '7,300,000', '3,650,000',
       '2,355,000', '3,999,999', '37,000,000', '125,000', '450,099',
       '235,000', '810,000', '96,000,000', '830,000', '1,660,000',
       '9,880,000', '39,600,000', '167,000', '204,000', '1,000,800',
       '1,300,099', '850', '356,000', '5,678,987,654', '3,200,000,000',
       '108,000', '2,300,009', '255,000,000', '4,120,000', '2,680,000',
       '4,370,000', '1,435,000', '2,015,000', '2,320,000', '2,353,500',
       '280', '180', '655,555', '150', '240', '210', '41,800,000',
       '870,000', '2,005,000,000', '8,500,099', '585,000', '1,500,090',
       '40', '4,160,000', '79,000,000', '3,350,000', '635,000', '500,090',
       '1,680,000', '62,000,000', '6,740,000', '872,210', '765,000',
       '24,000', '825,000', '15,774,000', '455,000', '815,000', '34,000',
       '38,400,000', '69,000,000', '300,500,000', '2,900', '230',
       '9,200,000', '170', '2,220,000', '2,850,000', '342,000',
       '2,730,000', '6,750,000', '740,000', '13,545,000', '63,000',
       '675,000', '15,750,000', '565,000', '200,500', '900,009',
       '1,099,999', '6,480,000', '2,270,000', '2,350,000', '1,452,000',
       '4,625,000', '2,720,000', '1,820,000', '10,200,000', '1,785,000',
       '2,785,000', '4,550,000', '8,650,000', '3,980,000', '4,635,000',
       '59,000', '77,000', '645,000,000', '135,000,000', '6,350,000',
       '19,250,000', '14,320,000', '53,000', '14,600,000', '4,634,000',
       '255,600,000', '1,610,000', '3,000,300', '710,000', '195,000',
       '12,425,000', '3,020,000', '145,000', '500,099', '666,000',
       '1,470,000', '100,009', '475,000'], dtype=object)

In [26]:
df.columns

Index(['Price', 'Serviced', 'Newly Built', 'Furnished', 'Bedrooms',
       'Bathrooms', 'Toilets'],
      dtype='object')

In [27]:
df.Bedrooms.unique()

array(['4', '2', '3', '5', '0', '1', '6', 'beds', '7', '10', '8', '9'],
      dtype=object)

In [28]:
# removing row with value 'beds'
df.query('Bedrooms != "beds"', inplace=True)

In [29]:
df.Bedrooms.unique()

array(['4', '2', '3', '5', '0', '1', '6', '7', '10', '8', '9'],
      dtype=object)

In [30]:
df.Bathrooms.unique()

array(['4', '3', '5', '6', '2', '0', '1', '7', '10', 'baths', '8', '9'],
      dtype=object)

In [31]:
# removing row with value 'baths'
df.query('Bathrooms != "baths"', inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89132 entries, 0 to 98079
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        89132 non-null  object
 1   Serviced     89132 non-null  int64
 2   Newly Built  89132 non-null  int64
 3   Furnished    89132 non-null  int64
 4   Bedrooms     89132 non-null  object
 5   Bathrooms    89132 non-null  object
 6   Toilets      89132 non-null  object
dtypes: int64(3), object(4)
memory usage: 5.4+ MB

In [33]:
# converting object datatype to int for Bedroooms, Bathroooms, Toilets and Price

lst = ['Bedrooms', 'Bathrooms', 'Toilets']
for i in lst:
    df[i] = df[i].apply(lambda x: int(x))


# removing comma from Price Field
def comma_remover(x):
    number = ''
    for i in x:
        if i == ',':
            continue
        number += i
    return int(number)

df['Price'] = df['Price'].apply(comma_remover)

In [35]:
# removing rows with prices greater than 1 billion
df.query('Price < 1000000000', inplace=True)

In [36]:
X = df.drop(['Price'], axis=1)

In [37]:
Y = df['Price']

In [38]:
Y

0        5000000
1        5000000
2        3500000
3        2700000
4        5000000
          ...
98075     900000
98076     500000
98077     330000
98078     400000
98079     150000
Name: Price, Length: 88971, dtype: int64

In [39]:
X

       Serviced  Newly Built  Furnished  Bedrooms  Bathrooms  Toilets
0             0            1          0         4          4        4
1             0            1          0         4          4        4
2             1            0          0         2          3        2
3             1            1          0         2          3        2
4             1            1          0         2          3        2
...         ...          ...        ...       ...        ...      ...
98075         0            0          0         4          4        4
98076         0            1          1         3          4        3
98077         0            0          1         2          3        2
98078         0            1          1         2          3        2
98079         0            0          0         3          3        3

[88971 rows x 6 columns]

In [40]:
Y

0        5000000
1        5000000
2        3500000
3        2700000
4        5000000
          ...
98075     900000
98076     500000
98077     330000
98078     400000
98079     150000
Name: Price, Length: 88971, dtype: int64

In [41]:
# splitting the data for training and testing
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [42]:
X_train

       Serviced  Newly Built  Furnished  Bedrooms  Bathrooms  Toilets
5701          1            1          0         4          4        4
93179         0            1          1         1          1        1
47829         0            0          1         2          2        2
80385         0            0          0         1          1        1
47015         0            0          0         7          7        7
...         ...          ...        ...       ...        ...      ...
6794          0            0          0         6          6        6
59951         0            0          0         3          2        3
84473         0            1          0         3          3        3
970           0            0          0         2          2        2
17498         0            1          0         0          0        0

[71176 rows x 6 columns]

In [43]:
df.Bathrooms.unique()

array([ 4,  3,  5,  6,  2,  0,  1,  7, 10,  8,  9])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88971 entries, 0 to 98079
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        88971 non-null  int64
 1   Serviced     88971 non-null  int64
 2   Newly Built  88971 non-null  int64
 3   Furnished    88971 non-null  int64
 4   Bedrooms     88971 non-null  int64
 5   Bathrooms    88971 non-null  int64
 6   Toilets      88971 non-null  int64
dtypes: int64(7)
memory usage: 5.4 MB

In [45]:
df.Bedrooms.unique()

array([ 4,  2,  3,  5,  0,  1,  6,  7, 10,  8,  9])

In [46]:
df.Bathrooms.unique()

array([ 4,  3,  5,  6,  2,  0,  1,  7, 10,  8,  9])

In [47]:
df.Toilets.unique()

array([ 4,  2,  3,  5,  0,  1,  6,  7, 10,  8,  9])

## Model Training

In [48]:
xgboost = xgb.XGBRegressor()

In [49]:
xgboost.fit(X_train, Y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [50]:
prediction = xgboost.predict(X_test)

In [51]:
error = mean_absolute_error(prediction, Y_test)

In [52]:
error

3306203.003614955

In [53]:
max(df.Price)

950000000

In [54]:


df_t = pd.DataFrame({'Serviced':[1], 'Newly Built':[1], 'Furnished':[1], 'Bedrooms':[3], 'Bathrooms':[3], 'Toilets':[3]})

In [55]:
xgboost.predict(df_t)

array([6567507.], dtype=float32)

In [56]:
# saving the model

joblib.dump(xgboost, 'xgboost.plk')

['xgboost.plk']